body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.header {
  background-color: blue;
  color: blue;
  padding: 10px 20px;
  text-align: right;
}

.header button {
  background-color: #fff;
  color: blue;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.main {
  padding: 20px;
}

.form-container {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input, .form-container textarea, .form-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.small-blue-button {
  background-color: blue;
  color: #fff;
  width: auto;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
}

.posts-container {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts-title {
  color: blue;
}
